# Python cache files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and debug output
*.log

# Large data files
*.pth
data/
results/
checkpoints/
pretrained/
